/*Styles Final Project*/

body {  
    background-color: greenyellow;
}
/*Index*/
.Title {
    max-width: 350px;
}
/*Page2*/
.Page2 {
    max-width: 666px;
}

.Bitch {
    max-width: 666px;
}

/*Page3*/
.Page3 {
    max-width: 666px;
}

.reBelles {
    max-width: 600px;
}

/*Page4*/
.Page4 {
    max-width: 666px;
}

/*Page5*/
.Page5 {
    max-width: 666px;
}

/*Page6*/

}