/*CSS styles for Runaway Train demo*/

/* styles for template */
 
body{
    background-color: black;
    color: azure;
}
* {
    box-sizing: border-box;
}

 
a:link {
    color: white;
}
a:visited{
    color: yellow;
}
a:hover{
    color:red;
}
a:active{
    color:beige;
}
 

.posParent{
    position: relative;
    display: block;
    margin:auto;
    width: 100%;
    max-width: 500px;
/*    padding: 1rem;*/
    text-align: center;
    
}
h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}

.center{
    width:100%;
    text-align: center;
    margin:auto;
    
}

.backgroundImg {
   width:100%;
    max-width: 500px;
    display:block;
    margin:auto;
/*    padding: 1rem;*/
}


.button1 {
    position:absolute;
    top:25%;
    left:40%;
    width:5%;
}

.button1 img{
    width:100%;
/*    max-width:30px;*/
}

.button2 {
    position:absolute;
    top:26%;
    left:55%;
    width:5%;
}

.button2 img{
    width:100%;
/*    max-width:25px;*/
}


.button3 {
    position:absolute;
    top:28.5%;
    left:72%;
    width:5%;
}

.button3 img{
    width:100%;
/*    max-width:25px;*/
}

.button4 {
    position:absolute;
    top:31%;
    left:84.5%;
    width:4%;
}

.button4 img{
    width:100%;
/*    max-width:20px;*/
}

.clicker{
    cursor: pointer;
}


