/*Maggie's Maggic Shop */

@font-face {
    
    
    font-family: "Haleysfont";
    src: url("HaleysXc-Regular.ttf");
    
}


body {
    
    background-color: #001840;
    text-align: center;
    font-family: Haleysfont;
    
}
    

 .titlestuff {
    
     color: #DBDBDB;
     
}

.titlepic {
    
    width: 100%;
    max-width: 1000px;
    
}

.titleimage hover{
    
    background-color: beige;
    
}

.click {
    
    cursor: pointer;
}

.musicon {
    
    width: 100%;
    max-width: 100px;
    position: fixed;
    left: 1rem
}
